* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; 
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #12bd1e;
  height: 55px;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
}

body{
  margin: 0;
}



.card {
  /* width: 100%; */
  /* height: 170px; */
  font-size: 12px;
  display: flex;          /* ADD */
  /* flex-direction: column; ADD */
  /* align-self: center; */
  /* flex-wrap: row; */
  align-content: center;
  /* border-bottom: 1px solid #c1c1c1; */
  padding: .5rem;
  justify-content: center;
  }
  
.cards-list {
  /* display: flex;
  flex-direction: row; */
  /* margin-top: 80px; */
  gap: 6px;
  margin: 3rem 2rem;
  /* flex-wrap: wrap; */
  padding: 5rem;
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr 1fr 1fr;
  
}

.image {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  border: 10px solid green;
  /* margin-right: 20px; */
}

.image:hover{
  border:#12bd1e;
  border-style: inset;
}

/* .card--ingredient{
  margin-top: -7px;
} */
/* 
.card--locale{
 margin-right: 12px; 
 font-weight: 400;
 font-size: 10;
}

.card--info{
  height: 130px;
  /* width: 20.375; */
  /* padding: 5px 0; */
  /* display: flex; */
  /* padding: 0rem 2rem; 
}

.card--location{
  display: flex;
  margin-bottom: 0;
} */

/* .card--dateline{
  font-weight: bold;
} */
.card-desc{
  /* width: 325px; */
  /* font-size: 10px; */
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}


.info{
margin: 0;
padding: 3rem 3rem 0 3rem;

}
