/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body{
  padding: 0 2rem;
}

.meats{
  display:grid;
  grid-template-columns: 25% 25%  25% 25%;
  grid-template-rows:    60% 60% 60% 60%;
  padding: 3em;
}

.meatButton{
  border: 3px solid maroon;
  background-color: transparent;
  border-radius: 45%;
  min-height: 3rem;
  margin: 10px;
}

.veggieButton{
  border: 3px solid green;
  background-color: transparent;
  border-radius: 45%;
  min-height: 3rem;
}

