body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffca3a;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* //////////////// */

header,footer{
  background-color: antiquewhite;
  height: 200px;
  padding: 2rem;
  text-align: center;
  width: 90%;
}

footer{
  margin-top: 4rem;
}
.recipe-header{
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}

.badge-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px;
  margin-top: 2.5em;
}

.badge{
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 0.2em;
  margin: 0.3em;
}
.shadow{
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  margin-top: 2em;
}

.true{
  background-color: #19B5FE;
}
.false{
  /* background-color: #F9690E; */
  background-color: #67809F;
}
.basic-info{
  /* background-color: #67809F; */
  background-color: azure;
}

.card {
  border: 3px solid green;
  box-shadow: 2px 2px 10px;
  border-radius: 8px;
  /* width: 33%; */
  margin: 1rem;
  background-color: #f7dcad;
}

.card:hover{
  transform: scale(110%) ;
  transition-duration: 2s ease-in-out;
}
.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
/* /// */