:root{
  --color1: #c54500;  
  --color2: #fdca00;
  --color3: #fbfbfb;
  --color4: #1f2122;
  --color5: #2a5d0d;
  --color5b: #2a5d0d90;
  --color6: #eeeded; 
  --color6b: #eeeded50; 
  --color7: #eeeded15;

}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Bebas Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url('/public/images/ingredients5.jpg');
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover; 
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* font-size: 1rem; */
}


#warning{
  font-style:italic;
  color: var(--color6);
  text-shadow: 1px 1px 10px var(--color1);
  font-weight: bold; 
  margin: .5rem;
}

.explainer{
  margin: 3rem 0;
  width: 40%;
  height: 40%;
  color: var(--color5);
  font-weight: bolder;
  /* background: var(--color7); */
  text-shadow: -1px -1px 8px var(--color6);
  /* background:  linear-gradient(180deg, var(--color6b), var(--color7)); */

}

h1{
    font-size: 5rem;
    color: var(--color5);
    letter-spacing: .53rem;
    text-shadow: 2px 2px 4px var(--color4);
    margin: 2rem;
    font: 'Bebas Neue';
}

h2 {
  font-size: '3rem';
  color: var(--color2);
  letter-spacing: 3px;
text-shadow: 2px 2px 2px var(--color4);
  margin: -2rem 2.5rem; 
  font: 'Bebas Neue'

}


.searchIngredients{
margin: 3rem;

}

.inputStyle{
    width: 50%;
    font-size: 1.4rem;
    background-color: var(--color6);
color: var(--color4);
    font-weight: bold;
    text-indent: .6rem;
    border-radius: .3rem;
    height: 1.8rem;

}

footer{
  margin-top: 4rem;
}

.card {
  border: 3px solid var(--color5);
  box-shadow: 2px 2px 10px;
  border-radius: 8px;
  margin: .5rem;
  background-color: var(--color6); 
margin-bottom: 20rem;
min-height: 60%;
opacity: 90%;
padding: 2rem;


 }

 button, .btn{
  background-color: var(--color5);
  border-radius: .3rem;
  padding: .2rem .6rem;
  margin: 1rem 0;
  height: 2rem; 
  color: var(--color6);
  font-weight: bolder;
  text-shadow: 2px 2px 4px var(--color5);
 }

 button:hover{
  background-color: var(--color2);
  text-shadow: 2px 2px 4px var(--color5);
  letter-spacing: .02rem;

 }

 .card-title{
  color: var(--color4);
  font-weight: bold;
  text-shadow: 1px 1px;
margin-bottom: 2rem;
  
 }


 .card-img-top{
  /* padding: 1rem; */
 width: 100%;
 border: 4px solid var(--color4);
 margin-bottom: 3rem;
 }

.card:hover{
  /* transform: scale(110%) ; */
  transform: scale(.5) translateY(-20);
}


.recipes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

@media screen and (max-width: 995px) {


  *{
    /* font-size: 1rem; */
    text-wrap: balance;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1rem;
  }
  body:not(text), .explainer{
    
    margin: 1rem auto;
    min-width: 90%;
    text-align: left;
  }

  .inputStyle{
    min-width: 90%;

  }
  .recipes {
    display: flex;
    flex-direction: column;
    align-content: center;

  }

  .explainer{
    /* text-shadow: .1px -.1px  .1px var(--color4); */
    background: linear-gradient(180deg, var(--color3), var(--color6b));
font-weight:light;
letter-spacing: .5px;
    /* background: var(--color6b) */
  }

}